[Desktop Entry]
Name=Ruokavälitys Development
GenericName=RV
Comment=TKO-äly Ruokavälitys
Exec=env RV_BACKEND_URL=http://localhost:4040 kitty --hold --start-as fullscreen rv -u
Terminal=false
Type=Application
Categories=ConsoleOnly;System;
Icon=utilities-terminal
