[Desktop Entry]
Name=Ruokavälitys
GenericName=RV
Comment=TKO-äly Ruokavälitys
Exec=env RV_BACKEND_URL=http://localhost:4040 kitty --start-as fullscreen rv
Terminal=false
Type=Application
Categories=ConsoleOnly;System;
Icon=utilities-terminal
